<div class="parcels-container" *ngIf="users.length > 0">
  <!-- info-bar -->
  <div class="info-bar">{{ noUsers }} Total Customers</div>
  <!-- search -->
  <div class="search-container">
    <input type="text" placeholder="Search" name="parcel" />
    <button>Search</button>
  </div>

  <!-- Parcels table -->
  <table>
    <!-- table header -->
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Parcels Sent</th>
        <th>Parcel Received</th>
        <th>Total Amount($)</th>
        <th>Action</th>
      </tr>
    </thead>
    <!-- table body -->
    <tbody *ngFor="let user of users; let i = index">
      <tr id="{{ i }}">
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.parcelsSent }}</td>
        <td>{{ user.parcelsReceived }}</td>
        <td>{{ user.totalAmount }}</td>
        <td class="action">
          <!-- trash -->
          <a href="#"><fa-icon [icon]="fatrash"></fa-icon></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
