.parcels-container {
  width: 100%;
  height: auto;
  padding-top: 2rem;
  color: #ffffff;
  padding-bottom: 1rem;
}
.parcels-container .info-bar {
  width: 100%;
  padding: 0.6rem;
  background-color: #211f27;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 5px;
}
/* search element */
.search-container {
  width: 15rem;
  height: 2rem;
  display: flex;
  margin-top: 2rem;
  border-radius: 0 5px 5px 0;
}
.search-container input {
  width: 55%;
  height: 100%;
  border: none;
  font-size: 1.2rem;
  padding-left: 0.5rem;
  color: #dbd5d5;
  background-color: #1d1d1d;
  border-radius: 6px 0 0 6px;
}
.search-container input:focus {
  outline: none;
}
.search-container button {
  width: 45%;
  height: 100%;
  border-radius: 0 5px 5px 0;
  border: none;
  background-color: #b56923;
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
}

/* tablle items */
table {
  width: 100%;
  background-color: #bebdbd;
  color: #000000;
  font-size: 1rem;
  margin-top: 2rem;
  border-radius: 4px;
  border: none;
  border-collapse: collapse;
}
thead tr,
tbody tr {
  height: 2.5rem;
  margin-top: 2rem;
}
tbody tr:nth-child(o) {
  background-color: #cc4f4f;
}
thead tr th,
tbody tr td {
  text-align: start;
  color: #272525;
  padding: 0.5rem;
  border: 2px solid rgb(110, 110, 110);
}
tbody tr .action {
  padding: 0;
  height: 100%;
  text-align: center;
}
tbody tr .action a {
  margin-right: 1.5rem;
  font-size: 1.2rem;
  color: #e73737;
}
tbody tr .action a:hover {
  opacity: 0.7;
}
