<div class="form-container">
  <!-- form -->
  <div class="form-wrapper">
    <!-- image -->
    <div class="form-image">
      <img src="assets/delivery.png" />
    </div>
    <!-- form -->
    <form (ngSubmit)="onFormSubmit()" #form="ngForm">
      <h3>Welcome</h3>
      <span
        style="margin-top: 0.7rem; color: red"
        *ngIf="invalidCreadentials === true"
        >Invalid Credential!!!</span
      >
      <!-- Email -->
      <div class="email">
        <label for="email">Email</label>
        <input
          type="email"
          placeholder="Email Address"
          name="email"
          ngModel
          required
          email
          #email="ngModel"
        />
        <span *ngIf="noEmail === true || (!email.valid && email.touched)"
          >* Email is invalid</span
        >
      </div>
      <!-- Password -->
      <div class="password">
        <label for="password">Password</label>
        <input
          type="password"
          placeholder="***********"
          name="password"
          ngModel
          required
        />
        <span *ngIf="noPassword === true">* Password is required</span>
      </div>

      <div class="signin-signup">
        <!-- Submit -->
        <div class="signin">
          <input type="submit" value="Login" />
        </div>
        <!-- Sign in -->
        <a [routerLink]="['/auth/register']">Sign Up</a>
      </div>
    </form>
  </div>
</div>
