<div class="parcel-container">
  <!-- info-bar -->
  <div class="info-bar">Parcel: {{ parcelId }}</div>
  <!-- Add parcel -->
  <form
    class="parcel-form"
    [formGroup]="reactiveParcelForm"
    (ngSubmit)="onSubmit()"
  >
    <!-- first row -->
    <div class="row1">
      <!-- item -->
      <div>
        <label>Item</label>
        <input type="text" formControlName="item" />
      </div>

      <!-- date -->
      <div>
        <label>Date from</label>
        <input type="date" formControlName="date" />
      </div>

      <!-- sender -->
      <div>
        <label>Sender</label>
        <input type="text" formControlName="sender" />
      </div>
    </div>

    <!-- secord row -->
    <div class="row2">
      <!-- receiver -->
      <div>
        <label>Receiver</label>
        <input type="text" formControlName="receiver" />
      </div>

      <!-- status -->
      <div>
        <label>Status</label>
        <select formControlName="status" id="status">
          <option value="In Progress">In Progress</option>
          <option value="Completed">Completed</option>
          <option value="Canceled">Canceled</option>
        </select>
      </div>

      <!-- shipper -->
      <div>
        <label>Shipper</label>
        <select formControlName="shipper" id="shipper">
          <option value="Mash Movers">Mash Movers</option>
          <option value="Amazon Air">Amazon Air</option>
          <option value="UPS Courier">UPS Courier</option>
        </select>
      </div>
    </div>

    <!-- secord row -->
    <div class="row2">
      <!-- price -->
      <div>
        <label>Price</label>
        <input type="text" formControlName="price" />
      </div>

      <!-- location -->
      <div>
        <label>Location</label>
        <select formControlName="location" id="location">
          <option value="Nairobi">Nairobi</option>
          <option value="kirinyaga">Kirinyaga</option>
          <option value="Nyeri">Nyeri</option>
        </select>
      </div>
    </div>

    <!-- map/submit -->
    <div class="row4">
      <!-- map -->
      <div class="map">
        <iframe
          width="600"
          height="500"
          id="gmap_canvas"
          src="https://maps.google.com/maps?q=the%20jitu&t=&z=13&ie=UTF8&iwloc=&output=embed"
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"
        ></iframe>
      </div>
      <!-- submit -->
      <div>
        <input type="submit" value="Submit" />
      </div>
    </div>
  </form>
</div>
