<div class="form-container">
  <div class="form-wrapper">
    <form [formGroup]="reactiveRegisterForm" (ngSubmit)="onSubmit()">
      <h3>Sign Up</h3>
      <!-- Name -->
      <div class="name">
        <label for="fullname">Full Name</label>
        <input type="text" placeholder="Full Name" formControlName="fullname" />
        <span *ngIf="user?.fullname === 'invalid'">* Name is required</span>
      </div>
      <!-- Email -->
      <div class="email">
        <label for="email">Email</label>
        <input
          type="email"
          placeholder="Email Address"
          formControlName="email"
        />
        <span
          *ngIf="
            user?.email === 'invalid' ||
            (!reactiveRegisterForm.get('email').valid &&
              reactiveRegisterForm.get('email').dirty)
          "
          >* Email is invalid</span
        >
      </div>
      <!-- Username -->
      <div class="username">
        <label for="username">Username</label>
        <input type="text" placeholder="Username" formControlName="username" />
        <span *ngIf="user?.username === 'invalid'">* Userame is required</span>
      </div>
      <!-- Password -->
      <div class="password">
        <label for="password">Password</label>
        <input
          type="password"
          placeholder="***********"
          formControlName="password"
        />
        <span *ngIf="user?.password === 'invalid'">* Password is required</span>
      </div>
      <!-- Confirm Password -->
      <div class="cpassword">
        <label for="password">Confirm Password</label>
        <input
          type="password"
          placeholder="***********"
          formControlName="confirmpassword"
        />
        <span *ngIf="user?.confirmPassword === 'invalid'"
          >* Confirm passwords is required</span
        >
        <span *ngIf="dontMatch">* Passwords don't match</span>
      </div>

      <div class="signin-signup">
        <!-- Submit -->
        <div class="signup">
          <input type="submit" value="Sign Up" />
        </div>
        <!-- Sign in -->
        <a routerLink="/auth/login">Login</a>
      </div>
    </form>
  </div>
</div>
