<div class="parcels-container" *ngIf="parcels.length > 0; else fallback">
  <!-- info-bar -->
  <div class="info-bar">{{ numberOfParcels }} Parcels Found</div>

  <!-- Search feature -->
  <div class="search-wrapper">
    <!-- search -->
    <div class="search-container">
      <input type="text" placeholder="Search" [(ngModel)]="searchItem" />
      <button (click)="searchParcel()">Search</button>
    </div>
  </div>

  <!-- Table to display parcels -->
  <table>
    <thead>
      <tr>
        <th>Tracking id</th>
        <th>Shipper</th>
        <th>Item</th>
        <th>Status</th>
        <th>Weight</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Price ($)</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let parcel of parcels | paginate: { itemsPerPage: 4, currentPage: p }
        "
        (click)="showDetails(parcel.track_id)"
      >
        <td>
          <fa-icon [icon]="falink"></fa-icon>
          {{ parcel.track_id }}
        </td>
        <td>{{ parcel.shipper }}</td>
        <td>{{ parcel.item_name }}</td>
        <td>{{ parcel.status }}</td>
        <td>{{ parcel.weight }}</td>
        <td>{{ parcel.origin_location }}</td>
        <td>{{ parcel.pick_up_location }}</td>
        <td>{{ parcel.price }}</td>
      </tr>
    </tbody>
  </table>
  <!-- pagination -->
  <pagination-controls
    (pageChange)="p = $event"
    ngClass="pagination"
  ></pagination-controls>
</div>

<ng-template #fallback>
  <app-no-content></app-no-content>
</ng-template>
