.parcels-container {
  width: 100%;
  height: auto;
  padding-top: 2rem;
  color: #ffffff;
  padding-bottom: 1rem;
}
.parcels-container .info-bar {
  width: 100%;
  padding: 0.6rem;
  background-color: #211f27;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 5px;
}
/* search element */
.search-container {
  width: 15rem;
  height: 2rem;
  display: flex;
  margin-top: 2rem;
  border-radius: 0 5px 5px 0;
}
.search-container input {
  width: 55%;
  height: 100%;
  border: none;
  font-size: 1.2rem;
  padding-left: 0.5rem;
}
.search-container button {
  width: 45%;
  height: 100%;
  border-radius: 0 5px 5px 0;
  border: none;
  background-color: #b56923;
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
}

/* tablle items */
table {
  width: 100%;
  background-color: #bebdbd;
  color: #000000;
  font-size: 1rem;
  margin-top: 2rem;
  border-radius: 4px;
  border: none;
  border-collapse: collapse;
}
thead tr,
tbody tr {
  height: 2.5rem;
  margin-top: 2rem;
  /* border: 1px solid; */
}
tbody tr:nth-child(o) {
  background-color: #cc4f4f;
}
thead tr th,
tbody tr td {
  text-align: start;
  color: #272525;
  padding: 0.5rem;
  border: 2px solid rgb(110, 110, 110);
}
tbody tr td:first-child {
  cursor: pointer;
}
tbody tr .action {
  height: 100%;
  text-align: center;
}
tbody tr .action fa-icon {
  margin-right: 1rem;
  font-size: 1.1rem;
}
tbody tr .action #edit {
  color: #1d81bb;
}
tbody tr .action #check {
  color: #2a9e19;
}
tbody tr .action #del {
  margin-right: 0;
  color: #e73737;
}
tbody tr .action fa-icon:hover {
  opacity: 0.7;
}
