<div class="admin-container">
  <!-- sidebar -->
  <div class="sidebar">
    <!-- items -->
    <a
      [routerLink]="['/user/dashboard']"
      class="sidebar-item"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <fa-icon [icon]="fadashboard"></fa-icon>
      Dashboard
    </a>
    <!-- items -->
    <a
      [routerLink]="['/user/sent-parcels']"
      class="sidebar-item"
      routerLinkActive="active"
    >
      <fa-icon [icon]="fapaperplane"></fa-icon>
      Sent
    </a>
    <!-- items -->
    <a
      [routerLink]="['/user/received-parcels']"
      class="sidebar-item"
      routerLinkActive="active"
    >
      <fa-icon [icon]="fabox"></fa-icon>
      Received
    </a>
    <!-- items -->
    <a
      [routerLink]="['/user/canceled-parcels']"
      class="sidebar-item"
      routerLinkActive="active"
    >
      <fa-icon [icon]="fatrash"></fa-icon>
      Canceled
    </a>
  </div>

  <!-- content area -->
  <div class="content-area">
    <!-- content body -->
    <div class="content">
      <!-- admin components here -->
      <router-outlet></router-outlet>
    </div>
    <!-- footer -->
    <footer>Copyright @ 2022</footer>
  </div>
</div>
