<div class="home-container">
  <!-- Highlights -->
  <div class="highlights">
    <!-- card -->
    <div class="highlight-card">
      <span style="background-color: rgb(14, 98, 161)"></span>
      <div class="info">
        <p>$ {{ sales$ | async | formatCurrency }}</p>
        <p>Sales</p>
      </div>
      <div class="icon sales">
        <fa-icon [icon]="fatrack"></fa-icon>
      </div>
    </div>

    <!-- card -->
    <div class="highlight-card">
      <span style="background-color: rgb(181, 105, 35)"></span>
      <div class="info">
        <p>{{ deliveries$ | async }}</p>
        <p>Delivered</p>
      </div>
      <div class="icon deliveries">
        <fa-icon [icon]="fachart"></fa-icon>
      </div>
    </div>

    <!-- card -->
    <div class="highlight-card">
      <span style="background-color: rgb(183, 51, 24)"></span>
      <div class="info">
        <p>{{ orders$ | async }}</p>
        <p>Orders</p>
      </div>
      <div class="icon orders">
        <fa-icon [icon]="facurrency"></fa-icon>
      </div>
    </div>

    <!-- card -->
    <div class="highlight-card">
      <span style="background-color: rgb(90, 171, 1)"></span>
      <div class="info">
        <p>{{ customers }}</p>
        <p>Customers</p>
      </div>
      <div class="icon customers">
        <fa-icon [icon]="facustomers"></fa-icon>
      </div>
    </div>
  </div>

  <!-- More Info -->
  <div class="more-info">
    <!-- card -->
    <div class="common order-info">
      <h3>All Orders</h3>
      <div class="orders">
        <p>5</p>
        <p>New Orders</p>
      </div>
      <div class="price">
        <p>{{ sales$ | async | formatCurrency }}</p>
        <p>Orders Price</p>
      </div>
    </div>
    <!-- card -->
    <div class="common user-info">
      <h3>User Details</h3>
      <div class="row">
        <div class="users">
          <p>{{ customers }}</p>
          <p>Total Users</p>
        </div>
        <div class="inactive">
          <p>0</p>
          <p>Deactivated Users</p>
        </div>
      </div>
      <div class="active">
        <p>{{ customers }}</p>
        <p>Active Users</p>
      </div>
    </div>
  </div>
</div>
