<div class="parcel-container">
  <!-- info-bar -->
  <div class="info-bar">
    <fa-icon [icon]="faadd"></fa-icon>
    Add Parcel
  </div>
  <!-- Add parcel -->
  <form
    class="parcel-form"
    [formGroup]="reactiveParcelForm"
    (ngSubmit)="onSubmit()"
  >
    <!-- first row -->
    <div class="row1">
      <!-- item -->
      <div>
        <label>Item</label>
        <input type="text" formControlName="item" />
        <span *ngIf="parcel?.item_name === 'invalid'"
          >* Item name is required</span
        >
      </div>

      <!-- date -->
      <div>
        <label>Weight</label>
        <input type="number" formControlName="weight" />
        <span *ngIf="parcel?.weight === 'invalid'">* Weight is required</span>
      </div>

      <!-- sender -->
      <div>
        <label>Sender</label>
        <select formControlName="sender" id="status">
          <option *ngFor="let user of users" [value]="user.email">
            {{ user.email }}
          </option>
        </select>
        <span *ngIf="parcel?.sender === 'invalid'"
          >* Sender name is required</span
        >
      </div>
    </div>

    <!-- secord row -->
    <div class="row2">
      <!-- receiver -->
      <div>
        <label>Receiver</label>
        <select formControlName="receiver" id="status">
          <option *ngFor="let user of users" [value]="user.email">
            {{ user.email }}
          </option>
        </select>
        <span *ngIf="parcel?.receiver === 'invalid'"
          >* Receiver name is required</span
        >
      </div>

      <!-- status -->
      <div>
        <label>Status</label>
        <select formControlName="status" id="status">
          <option value="In Progress">In Progress</option>
          <option value="Completed">Completed</option>
          <option value="Canceled">Canceled</option>
        </select>
        <span *ngIf="parcel?.status === 'invalid'"
          >* Parcel status is required</span
        >
      </div>

      <!-- shipper -->
      <div>
        <label>Shipper</label>
        <select formControlName="shipper" id="shipper">
          <option value="Mash Movers">Mash Movers</option>
          <option value="Amazon Air">Amazon Air</option>
          <option value="UPS Courier">UPS Courier</option>
        </select>
        <span *ngIf="parcel?.shipper === 'invalid'"
          >* Shipper name is required</span
        >
      </div>
    </div>

    <!-- secord row -->
    <div class="row2">
      <!-- price -->
      <div>
        <label>Price</label>
        <input type="text" formControlName="price" />
        <span *ngIf="parcel?.price === 'invalid'">* Price is required</span>
      </div>

      <!-- location -->
      <div>
        <label>Origin location</label>
        <select formControlName="origin_location">
          <option *ngFor="let county of counties" value="{{ county }}">
            {{ county }}
          </option>
        </select>
        <span *ngIf="parcel?.origin_location === 'invalid'"
          >* Location is required</span
        >
      </div>

      <!-- location -->
      <div>
        <label>Pickup location</label>
        <select formControlName="pick_up_location">
          <option *ngFor="let county of counties" value="{{ county }}">
            {{ county }}
          </option>
        </select>
        <span *ngIf="parcel?.pick_up_location === 'invalid'"
          >* Location is required</span
        >
      </div>
    </div>

    <!-- map/submit -->
    <div class="row4">
      <!-- map -->
      <div class="map">
        <iframe
          width="600"
          height="500"
          id="gmap_canvas"
          src="https://maps.google.com/maps?q=the%20jitu&t=&z=13&ie=UTF8&iwloc=&output=embed"
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"
        ></iframe>
      </div>
      <!-- submit -->
      <div>
        <input type="submit" value="Submit" />
      </div>
    </div>
  </form>
</div>
